@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tampereen Yliopisto<br />
    Tampere, FI-33014<br />
    <abbr title="Phone">P:</abbr>
    +358 3 355 111
</address>
