@{
    ViewBag.Title = Resources.Index;
}

<div class="jumbotron">
    <h1>@Resources.Headline</h1>
    <p class="lead">A tool to help gathering requirements using Repertory Grid and association-analysis.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            Our research project needs a tool for gathering customer requirements
            for product development. With the tool customers evaluate the
            importance of different product features and the result is located
            to a data base. The target of the student project work is to
            implement the web based tool.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
